%h1 
  Editing test instance for 
  =@test_case.name

= render 'form'

= link_to 'Show', test_case_test_instance_path([@test_case, @test_instance])
\|
= link_to 'Back', test_case_test_instances_path([@test_case, @test_instance])
