%nav.navbar.navbar-expand-md.navbar-dark.bg-dark.navbar-static-top
  .container
    %a.navbar-brand{ :href => root_path} MESA Test Hub
    %button.navbar-toggler{ :type => "button", "data-toggle".to_sym => "collapse", "data-target".to_sym => "#navbarsExampleDefault", "aria-controls".to_sym => "navbarsExampleDefault", "aria-expanded".to_sym => "false", "aria-label".to_sym => "Toggle navigation"}
      %span.navbar-toggler-icon

    %div.collapse.navbar-collapse#navbarsExampleDefault
      %ul.navbar-nav.mr-auto
        %li.nav-item.dropdown
          %a.nav-link.dropdown-togle#dropdown01{ :href => "http://example.com", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"}
            Tests
            %i.fa.fa-chevron-down
          %div.dropdown-menu{ "aria-labelledby" => "dropdown01"}
            %a.dropdown-item{ href: test_cases_path }
              %emph All
            -@all_test_cases.each do |test_case|
              %a.dropdown-item{ :href => test_case_path(test_case) }
                =test_case.name
        %li.nav-item
          %a.nav-link{ :href => computers_path } Computers
        
      %form.form-inline.my-2.my-lg-0
        %input.form-control.mr-sm-2{ :type => "text", :placeholder => "Search", "aria-label" => "Search"}
        %button.btn.btn-outline-success.my-2.my-sm-0{ :type => "submit"} Search 
