.row
  .col
    %h1
      Edit
      =@user.name

=bootstrap_form_for @user do |f|
  - if @user.errors.any?
    .form-row
      .col.alert.alert-danger
        %h4.alert-heading= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
        %p
          %ul
            - @user.errors.full_messages.each do |message|
              %li= message      
  .form-row
    .col.field=f.text_field :email
  .form-row
    .col.field=f.password_field :password, label: "New Password"
    .col.field=f.password_field :password_confirmation, label: "Confirm New Password"
  .form-row
    .col.field=f.text_field :name
  - if current_user.admin?
    .form-row
      .col.field
        =f.form_group :admin, label: { text: "Is this person an admin?" } do
          =f.check_box :admin

  .form-row
    .actions=f.submit 'Save', {class: 'btn btn-lg btn-primary'}

